@using Microsoft.AspNetCore.Http
@model Cotizaciones.Models.Persona

@{
    ViewData["Title"] = "Editar Persona";
}
<!--Condicion que solo muestra la funcionalidad solo si hay una sesion abierta-->
@if (Context.Session.GetString("UsuarioID") != null)
{
<h2>Editar Persona/Usuario</h2>

<h4>Edite los datos del Usuario/Persona</h4><br>
<font color="red"><h4>* Todos los campos son obligatorios</h4></font>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonaId" />
            <div class="form-group">
                <label asp-for="Rut" class="control-label"></label>
                <input asp-for="Rut" class="form-control" />
                <span asp-validation-for="Rut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paterno" class="control-label"></label>
                <input asp-for="Paterno" class="form-control" />
                <span asp-validation-for="Paterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Materno" class="control-label"></label>
                <input asp-for="Materno" class="form-control" />
                <span asp-validation-for="Materno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Datos" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Ir a la lista de Usuarios/Persona</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
                    }
                    
                    else
                    {
                        <!--En el caso que no haya una sesion abierta, pide iniciar session-->
                        <h4>Debe iniciar sesion para poder utilizar el sistema. <br><br><a asp-area="" asp-controller="Home" asp-action="Login">Iniciar Sesion</a></h4> 
                    }