@model IEnumerable<Cotizaciones.Models.Usuario>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}
@if (Context.Session.GetString("UsuarioID") != null)
                    {
                        <h2>Bienvenido @ViewBag.NombreUsuario</h2> 
                    }
                    else
                    {
                        <h3>Bienvenido al Sistema de Cotizaciones!</h3>
                        <h4>Debe iniciar sesion para poder utilizar el sistema. <br><br><a asp-area="" asp-controller="Home" asp-action="Login">Iniciar Sesion</a></h4>
                    }
<div class="row">
    <div class="col-md-12">
        <h2>Usuarios Registrados</h2>
        @if (Model.Any())
        {
            <table class="table">
                <tr>
                    <th>Nombre de Usuario</th>
                    <th>Password</th>

                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NombreUsuario</td>
                        <td>@item.Password</td>

                    </tr>
                }
            </table>
        }
        else
        {
            <p>There are no registered users.</p>

        }
    </div>
</div>


