@model Cotizaciones.Models.Usuario
@{
    ViewData["Title"] = "Register";
}

<h2>Registrarse</h2>
<!--vista que muestra el formulario para poder registrarse-->
<div class="form-horizontal">
    <form asp-controller="Home" asp-action="Register" method="post">
        <!--Este metodo muestra un mensaje en el caso que el usuario se registro correctamente-->
        @if (ViewBag.Message != null)
        {
            <div class="form-control">
                <div class="col-md-10">@ViewBag.Message</div>
            </div>
        }

        <div class="form-group">
            <label asp-for="NombreUsuario" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmarPassword" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="ConfirmarPassword" class="form-control" />
                <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Registrarse</button>
            </div>
        </div>
    </form>
</div>