@model Cotizaciones.Models.Usuario
@using Microsoft.AspNetCore.Http
<!--Esta vista no se utilizo pero se deja como prueba-->
@{
    ViewData["Title"] = "Welcome";
}

<h2>Hello</h2> @ViewBag.NombreUsuario
